*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 255, 255);
}

/* // */

.container {
    width: 100%;
    max-width: 1248px;
    margin: 64px auto 0px auto;
}

.line {
    width: 1px;
    height: 17px;
    background: #707070;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        color: var(--light-colors-black-light, #000);
        font-family: Allerta Stencil;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 40.5px;

        #in-s {
            color: #A18A68;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 48px;

        .half-1 {
            display: flex;
            gap: 64px;
            color: var(--light-colors-black-light, #000);

            /* 16px - Heading 5 */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
        }

        .half-2 {
            display: flex;
            gap: 39px;
        }
    }
}

